<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Shmancy Movies</title>
  </head>
  <body>
    <a id="logout" href="/logout">logout</a>
    <div id="main">
      <h2>Shmancy Movies</h2>
      <a id="favorites-link" href="/myfavorites">favorites</a>
      <div id="controls">
        <form id="search-box">
          <input id="search" type="text"/>
          <input id="search-submit" type="submit" disabled/>
        </form>
        <button id="clear-search">clear</button>
      </div>
      <ul id="search-results">
      </ul>
    </div>
  <script src="/js/app.js"></script>

  <div id="hidden">
    <li id="template-search-result" class="search-result" data-clicked="false">
      <a class="result-link" href="#"></a>
      <div class="detail-container"></div>
    </li>
    <button id="template-favorite-btn" class="favorite">favorite</button>
    <div id="template-detail">
      <ul class="detail-list">
        <li class="poster"><span class="detail-label"><img class="poster-img"/></li>
        <li class="actors"><span class="detail-label">Actors:</span> </li>
        <li class="awards"><span class="detail-label">Awards:</span> </li>
        <li class="country"><span class="detail-label">Country:</span> </li>
        <li class="director"><span class="detail-label">Director:</span> </li>
        <li class="genre"><span class="detail-label">Genre:</span> </li>
        <li class="language"><span class="detail-label">Language:</span> </li>
        <li class="metascore"><span class="detail-label">Metascore:</span> </li>
        <li class="plot"><span class="detail-label">Plot:</span> </li>
        <li class="rated"><span class="detail-label">Rated:</span> </li>
        <li class="released"><span class="detail-label">Released:</span> </li>
        <li class="runtime"><span class="detail-label">Runtime:</span> </li>
        <li class="title"><span class="detail-label">Title:</span> </li>
        <li class="type"><span class="detail-label">Type:</span> "movie"</li>
        <li class="writer"><span class="detail-label">Writer:</span> </li>
        <li class="year"><span class="detail-label">Year:</span> </li>
        <li class="imdbid"><span class="detail-label">imdbID:</span> </li>
        <li class="imdbrating"><span class="detail-label">imdbRating:</span> </li>
        <li class="imdbvotes"><span class="detail-label">imdbVotes:</span> </li>
      <ul>
    </div>
  </div>
  </body>
</html>
