body{
  background-color:#bababa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img{
  margin:10px;
}

h2{
  text-align:center;
}

#main{
  width:800px;
  margin:auto;
}

#hidden{
  display:none;
}

#search-results{
  list-style:none;
}

#controls{
  width:230px;
  margin:auto;
}
#search-box{
  display:inline;
}
.detail-list{
  list-style:none;
  font-style:italic;
}
.detail-label{
  font-weight:bold;
  font-style:normal;
}
.search-result{
  background-color:#efefef;
  padding:10px;
  margin:10px;
}

#favorites-link{
  width:65px;
  display:block;
  margin: 7px auto 7px auto;
}

/* login page */
.form-control{
  background-color:#efefef;
  margin:20px;
  padding:20px;
  display:inline-block;
}
